.GLOBALS {
  // DEFAULT - DARK
  --color-text-primary: #fff;
  --color-text-dark: #000;
  --color-text-secondary: #777;

  &[data-wholeapptheme="light"] {
    --color-text-primary: #000;
    --color-text-dark: #fff;
    --color-text-secondary: #555;
  }

  --highlighted-color: rgba(0, 100, 255, 0.3);

  --white: #ffffff;

  --window-bg-color: #c2c6ca;
  --window-border: 2px 2px #222, -2px -2px #e4e7e8, -2px 0px #e4e7e8,
    -2px 2px #222, 0px -2px #e4e7e8, 2px -2px #222;
  --window-border-reverse: 2px 2px #e4e7e8, -2px -2px #222, -2px 0px #222,
    -2px 2px #e4e7e8, 0px -2px #222, 2px -2px #e4e7e8;
}
