.shortcut {
  position: fixed;
  height: 106px;
  width: 88px;
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 4px;
  gap: 4px;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: color 0s ease-in-out, background-color 0s ease-in-out;

  &.decoy {
    user-select: none;
    cursor: pointer;
    opacity: 0.4;
  }

  &.highlighted {
    outline: 1px dashed var(--white);
    background-color: var(--highlighted-color);
  }

  .icon {
    display: grid;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    user-select: none;
    padding: 4px 4px 0px 4px;

    width: 100%;
    height: 100%;

    img {
      max-height: 100%;
      max-width: 100%;
      height: 100%;
      width: auto;
    }
  }

  .name {
    user-select: none;
    font-size: 14px;
    display: grid;
    justify-items: center;

    max-height: 14px;
    width: 80px;
    padding: 0 4px 8px 4px;

    * {
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: var(--color-text-primary);
    }
  }
}
