body {
  margin: 0;
  @font-face {
    font-family: MSSansSerif;
    src: url("./ui/assets/fonts/MS\ Sans\ Serif\ 8pt.ttf");
  }

  font-family: MSSansSerif, monospace !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  overflow: hidden;

  // global styles
  * {
    font-family: MSSansSerif, monospace !important;
    box-sizing: border-box;
    // transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
    color: #000; // font color

    /* width */
    ::-webkit-scrollbar {
      width: 16px;
      height: 16px;
      overflow: overlay;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background-color: #c2c6ca;
      border: 2px outset #d4d8dd;
      cursor: pointer;
    }

    ::-webkit-scrollbar-corner {
      background-color: transparent;
    }

    /* Handle on hover */
    /*
    ::-webkit-scrollbar-thumb:hover {
      cursor: pointer;
    }
    */

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:active {
      border: 2px inset #d4d8dd;
    }
  }
}
