.windowButton {
  background-color: var(--window-bg-color);
  border: var(--window-border-outset);
  outline: none;
  padding: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 24px;
  min-width: 24px;

  cursor: pointer;

  svg {
    width: 12px;
    height: auto;
    color: var(--color-text-dark);
  }

  &.pressed {
    border: var(--window-border-inset);
  }
}
